#modal {
    float: left;
}

body {
    background-color: #004964;
}

.navbar {
    background-color: #00788A;
}

#palm {
    height: 125px;
    width: 125px;
}

#trainimage {
    height: 100px;
    width: 100px;
}

#header {
    font-family: 'Bungee Inline', cursive;
    font-size: 70px;
    color: black;
}

#cardheader {
    font-family: 'Fjalla One', sans-serif;
    background-color: #00788A;
    text-align: center;
    font-size: 30px;
}

#trainschedule {
    font-family: 'Nunito', sans-serif;
}

.modal-header {
    font-family: 'Fjalla One', sans-serif;
    background-color: #00788A;
    text-align: center;
    font-size: 30px;    
}

#modal {
    background-color: #004964;
    border-color: #004964;
}

#alert {
    z-index: 20;
}